/* CONFIGURAÇÕES GERAIS */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --header-height: 69px;
  --main-top-margin: 146px;
  --main-max-width: 1051px;
  --main-side-margins: max(0px, calc((100vw - var(--main-max-width)) / 2));
  --top-img-height: 30vh;
}

body {
  background-color: #fafafa;
  font-family: "Roboto", sans-serif;
}

/* HEADER */

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: var(--header-height);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ec362d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  font-size: 37px;
  font-weight: 700;
  line-height: 43px;
  z-index: 3;
}

button {
  cursor: pointer;
}

/* TELA 1 - LISTA DE QUIZZES */

main {
  /* Precisa mesmo desse max-width? Não entendi bem pq foi usado,
  tentei tirar para a top-image ficar certinha na tela */
  max-width: var(--main-max-width);
  /* margin: var(--main-top-margin) auto 211px; */
  margin: var(--main-top-margin) var(--main-side-margins) 211px;
}

main h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}

.no-quizz {
  border: 1px dashed #d5d5d5;
  border-radius: 5px;
  width: 100%;
  height: 181px;
  font-size: 20px;
  line-height: 23.44px;
  color: #b9b9b9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 77px;
}

.no-quizz p {
  width: 250px;
  text-align: center;
}

.no-quizz .btn-create-quizz {
  width: 151px;
  height: 40px;
  border: 1px dashed #ec362d;
  border-radius: 50px;
  color: #ec362d;
  background-color: #fafafa;
  font-size: 21px;
  line-height: 24.61px;
  font-family: "Roboto", sans-serif;
}

.no-quizz .btn-create-quizz:focus {
  outline: none;
}

.quizz-container {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.quizz-container::after {
  content: '';
  width: 340px;
}

.quizz {
  width: 340px;
  height: 181px;
  border-radius: 5px;
  margin-bottom: 12px;
  font-size: 19px;
  line-height: 22px;
  color: #ffffff;
  position: relative;
  background-size: 100% 100%;
  cursor: pointer;
}

/* .quizz img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
} */

.quizz-title {
  width: 301px;
  position: absolute;
  bottom: 11px;
  left: 18px;
  line-break: anywhere;
}

.hide {
  display: none;
}



/* TELA 2 - LISTA DE QUIZZES */

.my-quizzes {
  margin-bottom: 30px;
}

.my-quizzes-top {
  display: flex;
  align-items: center;
}

.my-quizzes-top ion-icon {
  margin-left: 10px;
  font-size: 30px;
  color: #ec362d;
}

.my-quizzes-container {
  display: flex;
  padding-top: 12px;
  justify-content: flex-start;
}

.my-quizz {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.5) 64.58%,
      #000000 100%
    ),
    url("https://rollingstone.uol.com.br/media/_versions/harry_potter_div_warner_widelg.jpg");
  background-size: cover;
  width: 340px;
  height: 181px;
  border-radius: 5px;
  margin-bottom: 12px;
  font-size: 19px;
  line-height: 22px;
  color: #ffffff;
  position: relative;
  margin-left: 16px;
  line-break: anywhere;
}

.my-quizz:first-child {
  margin-left: 0px;
}

/* TELAS 3/4/5/6/7 - LISTA DE QUIZZES */

.top-image {
  /* Achei meio gambiarra a margin, mas fiquei com medo de ferrar as margins dos main mudando algo */
  margin-top: calc(var(--header-height) - var(--main-top-margin));
  margin-left: calc(-1 * var(--main-side-margins));
  margin-right: calc(-1 * var(--main-side-margins));
  /* right: 0; */
  width: 100vw;
  height: var(--top-img-height);
  background-image: url("https://d2p7ncqs8iaoqd.cloudfront.net/uploads/2020/07/Hogwaarts.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: 50% 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* z-index: 1; */
  padding: 26px;
}

.top-image h1 {
  font-size: 39px;
  line-height: 46px;
  color: #ffffff;
}

.question {
  margin: 110px auto 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.question-box {
  width: 759px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 36px;
  background-color: #ffffff;
}

.question-box-top {
  width: 688.16px;
  height: 137.99px;
  /* background: #434ca0; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 22px 16px;
}

.question-box-top h1 {
  font-weight: bold;
  font-size: 23px;
  line-height: 27px;
  color: #ffffff;
}

.question-box-choices {
  width: 688.16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.choices {
  width: 329.91px;
  height: 220px;
}

.choices img {
  width: 329.91px;
  height: 175.2px;
  margin-bottom: 10px;
}

.choices p {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  line-break: anywhere;
  /* color: #000000; */
}

.wrong {
  color: #ff4b4b;
}

.right {
  color: #009c22;
}

.not {
  opacity: 0.3;
}

.results {
  width: 759px;
  height: 430px;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.results-top {
  width: 727px;
  height: 99px;
  background: #ec362d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.results-top p {
  font-weight: bold;
  font-size: 23px;
  line-height: 27px;
  color: #ffffff;
}

.results-feedback {
  display: flex;
  margin-top: 20px;
}

.results-feedback img {
  width: 364px;
  height: 273px;
  margin-right: 20px;
}

.results-feedback p {
  font-weight: bold;
  font-size: 19px;
  line-height: 25px;
  color: #484848;
  width: 328px;
}

.buttons {
  width: 300px;
  height: auto;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: inherit;
}

.buttons .restart {
  width: 260.38px;
  height: 52px;
  background: #ec362d;
  border-radius: 15px;
  border: none;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 25px;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff5f4;
}

/*.buttons*/
.back-to-home {
  width: 219.64px;
  height: 44px;
  font-size: 21px;
  line-height: 25px;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #818181;
  border: none;
  background-color: #fafafa;
}

/* TELA 8 - CRIANDO QUIZZ */
/* Fiz sem verificar o layout no browser, talvez precise de ajustes */

main.screen8,
main.screen9,
main.screen10,
main.screen11 {
  max-width: 600px;
  margin: 140px auto 166px;
}

.screen8 h2,
.screen9 h2,
.screen10 h2,
.screen11 h2 {
  font-weight: 700;
  font-size: 23px;
  line-height: 27px;
  text-align: center;
  margin: 0 auto;
}

.create-quizz-box {
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  width: 100%;
  padding: 21px 20px 24px 16px;
  margin: 27px 0 85px;
}

.quizz-input {
  background: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  height: 46px;
  width: 100%; /* ver se isso não vai sobrepor o padding de fora*/
  font-size: 19px;
  line-height: 22px;
  color: #bababa;
  font-family: inherit; /* verificar se deu certo */
  font-style: italic;
  margin-bottom: 9px;
  padding: 13px 23.16px 14px;
}

.quizz-input:focus {
  outline: none;
}

.screen8 .quizz-input:last-child {
  margin-bottom: 0;
}

.btn-create-questions {
  background: #ec362d;
  color: #fff5f4;
  border-radius: 15px;
  width: 368.86px;
  height: 54px;
  margin: 0 auto;
  border: none;
  font-size: 21px;
  line-height: 25px;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* TELA 9 - CRIANDO PERGUNTAS */

/* .screen9 .create-question-box {
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  width: 100%;
  padding: 21px 20px 5px 16px;
  margin: 36px 0 2px;
} */

.create-question-box div {
  margin-bottom: 14px;
}

h3 {
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}

.collapsed-question h3,
.collapsed-level h3 {
  margin-bottom: 0;
}

.collapsed-question,
.collapsed-level {
  width: 100%;
  height: 74px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
  padding: 27px 24px 24px 17px;
}

.collapsed-question ion-icon,
.collapsed-level ion-icon {
  width: 26px;
  height: 23px;
}

.btn-create-levels {
  margin: 81px auto 0;
  width: 353.91px;
  height: 54px;
  background: #ec362d;
  color: #fff5f4;
  border-radius: 15px;
  border: none;
  font-size: 21px;
  line-height: 25px;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* TELA 10 - CRIANDO NÍVEIS */
.screen9 .create-question-box,
.screen10 .create-level-box {
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  width: 100%;
  margin: 36px 0 2px;
}

.question-title-container,
.level-title-container {
  display: flex;
  justify-content: space-between;
  
}

.uncollapsed-question,
.uncollapsed-level {
  padding: 27px 20px 0 17px;
}

.uncollapsed-question ion-icon,
.uncollapsed-level ion-icon {
  width: 26px;
  height: 23px;
  display: none;
}

.question-input-container,
.level-input-container {
  padding: 0px 20px 19px 16px;
}

.btn-finalize-quizz {
  background: #ec362d;
  color: #fff5f4;
  border-radius: 15px;
  width: 324px;
  height: 54px;
  margin: 75px auto 0;
  border: none;
  font-size: 21px;
  line-height: 25px;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* TELA 11 - QUIZZ PRONTO */

.created-quizz-img {
  width: 500px;
  height: 266px;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.5) 65.62%,
      rgba(0, 0, 0, 0.8) 100%
    );
  background-size: cover;
  border-radius: 5px;
  position: relative;
  margin: 46px auto 45px;
}

.created-quizz-title {
  font-size: 23px;
  line-height: 27px;
  color: #ffffff;
  width: 90.8%; /*não sei se funciona */
  bottom: 9px;
  position: absolute;
  left: 23px;
  bottom: 20px;
}

.btn-access-quizz {
  width: 220.32px;
  height: 44px;
  background: #ec362d;
  border-radius: 15px;
  border: none;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff5f4;
  font-family: inherit;
}

.screen11 button {
  margin: 0 auto 20px;
}


/* MEDIA QUERIES */

@media (max-width: 1100px) {
  main {
    width: 100%;
    padding: 0 17px 0 18px;
  }

  main.screen8,
  main.screen9,
  main.screen10,
  main.screen11 {
    padding: 0;
    margin: 107px auto 80px;
  }

  .screen8 h2,
  .screen9 h2,
  .screen10 h2,
  .screen11 h2 {
  font-size: 20px;
  line-height: 23.44px;
  }

  /* TELA 1 */

  main.screen1 {
    margin: 100px auto 80px;
  }

  .create-quizz-box {
    margin: 28px 0 29px;
  }

  .btn-create-levels {
    width: 324px;
    font-size: 18px;
    line-height: 21.09px;
    margin: 46px auto 0;
  }

  .no-quizz {
    margin: 0 auto 35px;
  }

  .quizz-container {
    justify-content: space-evenly;
  }

  /* TELAS 3-7 */

  main.screen3-7 {
    padding: 0;
  }

  .top-image {
    width: 100%;
    height: 142px;
    text-align: center;
  }

  .top-image h1 {
    font-size: 19px;
    line-height: 22.27px;
    line-break: anywhere;
  }

  .question {
    margin-top: 24px;
  }

  .question-box {
    width: 100%;
    padding: 18px 17px 24px;
  }

  .question-box-top {
    width: 100%;
  }

  .question-box-top h1 {
    font-size: 19px;
    line-height: 22.27px;
    line-break: anywhere;
  }

  .question-box-choices {
    width: 100%;
  }

  .question-box-choices img {
    width: 163px;
    height: 113px;
  }

  .question-box-choices p {
    width: 163px;
    font-size: 13px;
    line-height: 15.23px;
  }

  .results {
    width: 100%;
    height: auto;
  }

  .results-top {
    padding: 22px 16px;
    text-align: center;
  }
  
  .results-top p {
    font-size: 19px;
    line-height: 22px;
  }

  .div-results {
    width: 100%;
  }

  .results-feedback {
    flex-direction: column;
  }

  .results-feedback img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }

  .results-feedback p {
    width: auto;
    font-size: 17px;
    line-height: 20px;
  }

  .buttons .restart {
    width: 220.32px;
    font-size: 18px;
    line-height: 21.09px;
    margin-bottom: 8px;
  }

  .buttons {
    margin-top: 34px;
  }

  /* TELA 8 */

  .btn-create-questions {
    width: 323px;
    font-size: 18px;
    line-height: 21.09px;
  }

  /* TELA 9 */

  .screen9 .create-question-box {
    margin-top: 24px;
    margin-bottom: 0;
  }

  .create-question-box div {
    margin-bottom: 0;
  }

  .correct-answer-section,
  .incorrect-answer-section {
    margin-top: 28px;
  }

  /* TELA 11 */

  .created-quizz-img {
    width: 340px;
    height: 181px;
    margin: 29px auto 24px;
  }

  .btn-access-quizz,
  .back-to-home {
    font-size:18px;
    line-height: 21.09px;
    margin: 0 auto 9px;
  }
}