/* CONFIGURAÇÕES GERAIS */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --header-height: 69px;
  --main-top-margin: 146px;
  --main-max-width: 1051px;
  --main-side-margins: max(0px, calc((100vw - var(--main-max-width)) / 2));
  --top-img-height: 30vh;
}

body {
  background-color: #fafafa;
  font-family: "Roboto", sans-serif;
}

/* HEADER */

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: var(--header-height);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ec362d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  font-size: 37px;
  font-weight: 700;
  line-height: 43px;
  z-index: 3;
}

/* TELA 1 - LISTA DE QUIZZES */

main {
  /* Precisa mesmo desse max-width? Não entendi bem pq foi usado,
  tentei tirar para a top-image ficar certinha na tela */
  max-width: var(--main-max-width); 
  /* margin: var(--main-top-margin) auto 211px; */
  margin: var(--main-top-margin) var(--main-side-margins) 211px;
}

main h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}

.no-quizz {
  border: 1px dashed #d5d5d5;
  border-radius: 5px;
  width: 100%;
  height: 181px;
  font-size: 20px;
  line-height: 23.44px;
  color: #b9b9b9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 77px;
}

.no-quizz p {
  width: 250px;
  text-align: center;
}

.no-quizz .btn-create-quizz {
  width: 151px;
  height: 40px;
  border: 1px dashed #ec362d;
  border-radius: 50px;
  color: #ec362d;
  background-color: #fafafa;
  font-size: 21px;
  line-height: 24.61px;
  font-family: "Roboto", sans-serif;
}

.no-quizz .btn-create-quizz:focus {
  outline: none;
}

.quizz-container {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.quizz {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.5) 64.58%,
      #000000 100%
    ),
    url("https://rollingstone.uol.com.br/media/_versions/os-simpsons-teoria-final_widelg.jpg");
  background-size: cover;
  width: 340px;
  height: 181px;
  border-radius: 5px;
  margin-bottom: 12px;
  font-size: 19px;
  line-height: 22px;
  color: #ffffff;
  position: relative;
}

.quizz p {
  width: 301px;
  position: absolute;
  bottom: 7px;
  left: 18px;
}

.hide {
  display: none;
}

@media (max-width: 1100px) {
  main {
    width: 100%;
    padding: 0 17px 0 18px;
  }

  .no-quizz {
    margin: 0 auto 77px;
  }

  .quizz-container {
    justify-content: space-evenly;
  }
}

/* TELA 2 - LISTA DE QUIZZES */

.my-quizzes {
  margin-bottom: 30px;
}

.my-quizzes-top {
  display: flex;
  align-items: center;
}

.my-quizzes-top ion-icon {
  margin-left: 10px;
  font-size: 30px;
  color: #ec362d;
}

.my-quizzes-container {
  display: flex;
  padding-top: 12px;
  justify-content: flex-start;
}

.my-quizz {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.5) 64.58%,
      #000000 100%
    ),
    url("https://rollingstone.uol.com.br/media/_versions/harry_potter_div_warner_widelg.jpg");
  background-size: cover;
  width: 340px;
  height: 181px;
  border-radius: 5px;
  margin-bottom: 12px;
  font-size: 19px;
  line-height: 22px;
  color: #ffffff;
  position: relative;
  margin-left: 16px;
}

.my-quizz:first-child {
  margin-left: 0px;
}

/* TELAS 3/4/5/6/7 - LISTA DE QUIZZES */

.top-image {
  /* Achei meio gambiarra a margin, mas fiquei com medo de ferrar as margins dos main mudando algo */
  margin-top: calc(var(--header-height) - var(--main-top-margin));
  margin-left: calc(-1 * var(--main-side-margins));
  margin-right: calc(-1 * var(--main-side-margins));
  /* right: 0; */
  width: 100vw;
  height: var(--top-img-height);
  background-image: url("https://d2p7ncqs8iaoqd.cloudfront.net/uploads/2020/07/Hogwaarts.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: 50% 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* z-index: 1; */
}

.top-image h1 {
  font-size: 39px;
  line-height: 46px;
  color: #ffffff;
}

.question {
  margin: 110px auto 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.question-box {
  width: 759px;
  height: 676px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.question-box-top {
  width: 688.16px;
  height: 137.99px;
  background: #434ca0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question-box-top h1 {
  font-weight: bold;
  font-size: 23px;
  line-height: 27px;
  color: #ffffff;
}

.question-box-choices {
  width: 688.16px;
  height: 500.99px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.choices {
  width: 329.91px;
  height: 220px;
}

.choices img {
  width: 329.91px;
  height: 175.2px;
  margin-bottom: 10px;
}

.choices p {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.choices .wrong {
  color: #ff4b4b;
}

.choices .right {
  color: #009c22;
}

.not {
  opacity: 0.3;
}

.results {
  width: 759px;
  height: 430px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.results-top {
  width: 727px;
  height: 99px;
  background: #ec362d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.results-top p {
  font-weight: bold;
  font-size: 23px;
  line-height: 27px;
  color: #ffffff;
}

.results-feedback {
  display: flex;
  margin-top: 20px;
}

.results-feedback img {
  width: 364px;
  height: 273px;
  margin-right: 20px;
}

.results-feedback p {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #484848;
}

.buttons {
  width: 300px;
  height: auto;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: inherit;
}

.buttons .restart {
  width: 260.38px;
  height: 52px;
  background: #ec362d;
  border-radius: 15px;
  border: none;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff5f4;
}

.buttons .back-to-home {
  width: 219.64px;
  height: 44px;
  font-size: 21px;
  line-height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #818181;
  border: none;
  background-color: #fafafa;
}

/* TELA 8 - CRIANDO QUIZZ */
/* Fiz sem verificar o layout no browser, talvez precise de ajustes */

main.screen8,
main.screen9,
main.screen10,
main.screen11 {
  max-width: 600px;
  margin: 140px auto 0;
}

.screen8 h2,
.screen9 h2,
.screen10 h2,
.screen11 h2{
  font-weight: 700;
  font-size: 23px;
  line-height: 27px;
  text-align: center;
  margin: 0 auto;
}

.create-quizz-box {
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  width: 100%;
  padding: 21px 20px 24px 16px;
  margin: 27px 0 85px;
}

.create-quizz-input {
  background: #FFFFFF;
  border: 1px solid #D1D1D1;
  border-radius: 5px;
  height: 46px;
  width: 100%; /* ver se isso não vai sobrepor o padding de fora*/
  font-size: 19px;
  line-height: 22px;
  color: #BABABA;
  font-family: inherit; /* verificar se deu certo */
  font-style: italic;
  margin-bottom: 9px;
  padding: 13px 23.16px 11px;
}

.create-quizz-input:focus {
  outline: none;
}

.screen8 .create-quizz-input:last-child {
  margin-bottom: 0;
}

.btn-create-questions {
  background: #EC362D;
  color: #FFF5F4;
  border-radius: 15px;
  width: 368.86px;
  height: 54px;
  margin: 0 auto;
  border: none;
  font-size: 21px;
  line-height: 25px;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* TELA 9 - CRIANDO PERGUNTAS */

.screen9 .create-question-box {
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  width: 100%;
  padding: 21px 20px 24px 16px;
  margin: 36px 0 2px;
}

h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}

.uncollapsed-question,
.uncollapsed-level {
  width: 100%;
  height: 74px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
}

.btn-create-levels {
  margin: 81px auto 0;
  width: 353.91px;
  height: 54px;
  background: #EC362D;
  border-radius: 15px;
  border: none;
  font-size: 21px;
  line-height: 25px;
  font-family: inherit;
}

/* TELA 10 - CRIANDO NÍVEIS */

.screen10 .create-level-box {
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  width: 100%;
  padding: 21px 20px 24px 16px;
  margin: 36px 0 2px;
}

.btn-create-level {
  background: #EC362D;
  color: #fff5f4;
  border-radius: 15px;
  width: 324px;
  height: 54px;
  margin: 75px auto 0;
  border: none;
  font-size: 21px;
  line-height: 25px;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* TELA 11 - QUIZZ PRONTO */

.created-quizz-img {
  max-width: 500px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%), url("./images/created-quizz");
  border-radius: 5px;
  position: relative;
}

.created-quizz-title {
  font-size: 23px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  width: 90.8%; /*não sei se funciona */
  bottom: 9px;
  position: absolute;
  left: 23px;
}

.btn-access-quizz {
  width: 220.32px;
  height: 44px;
  background: #EC362D;
  border-radius: 15px;
  border: none;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff5f4;
  font-family:inherit;
}